<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WeatherAppId" value="25fb34b643a658d8512ecd7f34cdb4ea"/>
    <add key="WeatherRequestUri" value="http://api.openweathermap.org/data/2.5/weather?q={0}&amp;appid={1}&amp;units=metric"/>
  </appSettings>

</configuration>